@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", serif;
  font-weight: 100;
}

.item-section {
  /*
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 8fr;
  */
  height: 100vh;

  margin-right: 1em;
}

.item-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;

  color: #468dae;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-title i {
  font-size: 1.5em;
}

.item-total {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.item-total .number {
  font-weight: bold;
}

.item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1em;
}

#input-search {
  padding: 1em 2em;

  border: none;
  border-radius: 0.5em;

  outline: none;

  background-color: rgba(242, 242, 242, 0.5);
}

#select-item {
  padding: 1em 2em;

  border: none;
  border-radius: 0.5em;

  outline: none;

  background-color: rgba(242, 242, 242, 0.5);
}

.btn-search {
  color: white;
  background-color: #f26b1d;

  padding: 1em 2em;

  border: none;
  border-radius: 0.5em;

  outline: none;
}

.add-item-btn {
  background-color: #7ed9ae;
  color: white;

  padding: 1em 2em;
  z-index: 100;
  border: none;
  border-radius: 0.5em;
}

.item-table {
  overflow: scroll;
}

.item-table table {
  width: 100%;

  border-collapse: collapse;
}

.item-table thead {
  background-color: #468dae;
  color: white;
}

.item-table th,
.item-table td {
  padding: 1em;
}

.item-table tbody tr:nth-child(odd) {
  background-color: white;
}

.item-table tbody tr:nth-child(even) {
  background-color: rgba(242, 242, 242, 0.5);
}

.td-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btn-see {
  background-color: #468dae;
  color: white;

  border: none;
  border-radius: 0.5em;

  padding: 0.6em 2em;
}

.btn-delete {
  background-color: #db5d5d;
  color: white;

  border: none;
  border-radius: 0.5em;

  padding: 0.6em 2em;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/*
 * Tablas
 */

.tableHeaderCSS {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 4fr 2fr;
  justify-items: start;
  padding-left: 1rem;

  background-color: #468dae;
  color: white;
}

.tableHeaderTitleCSS {
  color: white;
}

.tableRowCSS {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr 4fr 3fr;
  justify-items: start;
  padding-left: 1.5rem;
}

.evenRow {
  background-color: #f2f2f2;
}

.oddRow {
  background-color: #ffffff;
}

.tableBottomsCSS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  padding-right: 10%;
  align-items: center;
  gap: 1em;
}

.tableBottomsCSS button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  height: 60%;

  border: none;
  border-radius: 0.5em;

  padding: 0.6em 2em;
}

.bottomSee {
  background-color: #468dae;
}

.bottomDelete {
  background-color: #db5d5d;
}

.form-item-filters{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  width: calc(100%-16px);
}

.form-item-filters button{
  max-width: fit-content;
}

.moduleList{
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 2fr 2fr 1fr 6fr;
}

@media (min-width: 700px) {
  .noMostrarPc {
    display: none;
  }

  .form-item-filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .noMostrarMovil {
    display: none;
  }


  #input-search {
    padding: 5% 10%;
  }

  .form-item-filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .item-section {
    margin-left: 1rem;
  }

  .add-item-btn {
    position: absolute;
    padding: 1em;
    z-index: 100;
    bottom: 1em;
    right: 1em;
  }

  .tableHeaderCSS {
    display: grid;
    grid-template-columns: 2fr 3fr 5fr;
    justify-items: start;
    padding-left: 5%;
  }

  .tableRowCSS {
    display: grid;
    grid-template-columns: 2fr 3fr 5fr;
    justify-items: start;
    padding-left: 8%;
  }

  .tableBottomsCSS {
    padding-right: 10%;
    gap: 0.5em;
  }

  .tableBottomsCSS button {
    height: 2rem;
    width: 2rem;
  }
  .tableRowCSS:last-of-type{
    margin-bottom: 20%;
  }
}

.teacher-btn {
  display: inline-block;
  padding: 0em .5em;
  background-color: #468dae;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
}

.teacher-btn:hover {
  background-color: #356d8c;
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}