.item-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    justify-items: center;
}

.item-card {
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: .5em;
    z-index: 20;
    width: 100%;
}


.manage-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1em 1em 0 1em;
}


.noTitleGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.DurationActionGroup {
    transform: translateY(-35%)
}

.item-message {
    margin: 1em 0 1em 0;
}

.card-title {
    background-color: #468DAE;
    color: white;

    font-weight: 400;

    margin: 0;
    padding: .5em;

    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.truncado {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Agrega "..." cuando el texto se corta */
    max-width: 100%;
     /* Ajusta el ancho según necesidad */
    white-space: normal;
}


.card-description {
    border: white .6em solid;
    height: 20%;
}

.card-duration {
    padding: .6em;
}

.bold {
    font-weight: bold;
}

.card-actions {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: end;

    padding: .5em;
}

.card-btn-see {
    background-color: #468DAE;
    color: white;

    border: none;
    border-radius: .5em;

    padding: .6em 4em;
}

.card-btn-delete {
    background-color: #DB5D5D;
    color: white;
    border: none;
    border-radius: .5em;

    padding: .6em 2em;
}

@media (max-width: 512px) {
    .card-title{
        background-color: transparent;
    }
    .item-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-card {
        width: 100%;
    }
    .item-card:last-of-type {
        margin-bottom: 20%;
    }
    
    #titleCard{
        border-radius: .5em;
        border-radius: .5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #468DAE;
    }
    #titleCard.is-active{
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #468DAE;
    }

    .expand {
        background-color: transparent;
        height: 34px;
        width: 30px;
        margin-right: .5em;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .expand.is-active {
        background-color: none;
    }

    ._layerm {
        position: absolute;
        background: white;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
        margin: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }

    .-vertical{
        transform: rotate(90deg) translate3d(0, 0, 0);
    }
    .-horizontal{
        transform: rotate();
    }
   
    .noTitleGroup {
        opacity: 0; /* Empieza invisible */
        visibility: hidden; /* Hace que el elemento sea completamente inaccesible */
        max-height: 0; /* Inicia con altura 0 */
        overflow: hidden; /* Evita que el contenido se vea fuera de la caja */
        transition: opacity 0.2s ease, max-height 0.2s ease, visibility 0s linear 0.2s; /* Transición de opacidad y altura */
    }
    
    /* Cuando la clase .is-active se añade, el elemento se muestra con animación */
    .noTitleGroup.is-active {
        opacity: 1; /* Vuelve visible */
        visibility: visible; /* Hace que el elemento sea accesible */
        max-height: 1000px; /* Ajusta la altura máxima al valor necesario (puedes ajustarlo según el contenido) */
        transition: opacity 0.7s ease, max-height 0.7s ease, visibility 0s linear 0s; /* La transición para la visibilidad y altura */
    }

    .expand.is-active .-vertical {
        opacity: 1;
        transform: translateY(0%) translateX(0%) rotate(45deg) !important;
    }


    .expand.is-active .-horizontal {
        transform: translateY(0%) translateX(0%) rotate(-45deg) !important;
    }
}

.swal2-confirm.btn-swal-confirm {
    background-color: #468DAE;
}

.swal2-cancel.btn-swal-cancel {
    background-color: #DB5D5D;
}

.btn-add-tuition {
    background-color: #7ED9AE;
    color: white;

    border: none;
    border-radius: .5em;

    padding: 1em 2em;

    font-size: 1.5em;

}