/* Estilos comunes a todas las páginas */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', serif;
    font-weight: 100;
}
* {
    scrollbar-width: thin; /* Opciones: auto, thin, none */
    scrollbar-color: #888 #f1f1f1; /* Color del thumb y del fondo */
  }
  
  /* Chrome, Edge y Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
body {
    margin: 0;

    display: flex;
    flex-direction: row;

    height: 100vh;
}


header {
    flex: 0 0 15%;

    margin-right: 1em;
}

#navLogo a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navAll {
    width: 100%;


    display: flex;
    flex-direction: column;
}

.navAll a {
    color: white;

    text-decoration: none;

    transition: color .5s ease;
}
#navAll {

    background-color: #468DAE;

    overflow-x: hidden;
}

/* Cambiar el ancho del nav para pantallas medianas y pequeñas */
@media (max-width: 1024px) {
    header {
        flex: 0 0 20%
    }
    #navLogo {
        height: 70px;
        background-color: #468DAE;
        z-index: 1002;
        width: 100%;

    }
    .hamburger {
        position: fixed;
        background-color: transparent;
        right: 0;
        top: 0;
        height: 34px;
        width: 30px;
        padding: 20px 20px 16px 20px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 1002;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hamburger.is-active {
        background-color: none;
    }

    ._layer {
        background: white;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }

    .hamburger:hover .-top {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .hamburger:hover .-bottom {
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    .hamburger.is-active .-top {
        opacity: 1;
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: translateY(200%) translateX(-40%) rotate(90deg) !important;
    }

    .hamburger.is-active .-mid {
        opacity: 1;
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: rotate(90deg) !important;
    }

    .hamburger.is-active .-bottom {
        -webkit-transform: translateY(-200%) rotate(135deg) !important;
        -ms-transform: translateY(-200%) rotate(135deg) !important;
        transform: translateY(-200%) translateX(40%) rotate(90deg) !important;
    }
}

@media (max-width: 768px) {
    header {
            flex: 0 0 20%
    }

    #logoSanClemente {
        width: 80%;

        padding-top: 10%;
        padding-bottom: 10%;
    }

    .navItem {
        font-size: .9rem;
    }
}

@media (max-width: 576px) {
    #navLogo {
        padding-left: 5%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
    }
    #navLogo a{
        align-items: self-start;
    }

    #navLogo img {
        width: 50%;
        padding: 0;

    }
    body {
        flex-direction: column;
    }

    header {
        flex: 0 0 auto;

        width: 100%;
    }

    nav {
        height: auto;
        width: 100%;
        background-color: #468DAE;
        flex-direction: column;

        overflow-x: auto;
    }
    #navCentro {
        width: 80%;
        margin-top: 8%;
        border: 0;
    }

    #navCentro div {
        margin-left: 0;
    }

    #navBottom.is_active {
        display: flex;
        position: static;
        justify-content: space-between;
        flex-direction: column;
        flex-grow: 1;
        margin: 0   ;
        z-index: 1000;
        transform: translate3d(0px, 0px, 0px) scaleY(1);
    }

    #navBottom {
        display: none;
        height: 0px;
        z-index: -1;
        border: 0;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        transform: translate3d(0px, -70%, 0px) scaleY(0);
        transition: transform 0.5s;
        /*cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;*/
    }

    #navLogo hr {
        display: none;
    }

    #navLogo {
        height: 70px;
        background-color: #468DAE;
        z-index: 1002;
        width: 100%;

    }

    #navAll.is_active {
        height: 100vh;
    }

    #navAll {
        height: fit-content;
        width: 100%;
        position: fixed;
        background-color: transparent;
        margin: 0;
        z-index: 1000;
    }
}

#navBottom {
    height: 100vh;
}

#navLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logoSanClemente {
    width: 70%;
    padding-top: 15%;
    padding-bottom: 15%;

    width: clamp(50%, 10vw, 80%);
}

#navCentro div {
    display: flex;
    gap: 1em;
    align-items: center;
    align-content: center;

    padding-left: 10%;
    margin-bottom: 10%;

    color: white;
}

#navCentro div:hover {
    color: black;

    transition: all .5s ease;
}

#navCentro div i {
    font-size: 1.5rem;

    transition: all .5s ease;
}

#navBottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;

    margin-top: 2em;
}

.navItem {
    cursor: pointer;
    transition: color 0.5s ease;

    font-size: clamp(.8rem, 2.5vw, 1rem);
}

.navItem:hover {
    color: black;

    transition: color 0.5s ease;
}

#navUser {
    display: flex;
    justify-content: right;
    align-self: flex-end;
    align-items: center;

    width: 90%;
    
    margin: .5em auto;
    padding-top: .5em;

    border-top: 1px solid white;
}

#navUser a:hover {
    color: black;
}

main {
    flex: 1;
    overflow-y: auto;
    height: 100vh;
}

/* TODO: Quitar important */
.selected {
    /* color: #F26B1D !important; */

    border-left: 4px solid #F26B1D;
}

.selected i {
    color: #F26B1D;
}