html,
body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #448aa6;
}

.logo {
    width: 260px;
    padding: 32px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #448aa6;
    width: 55em;
    height: 30em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*esto poderase borrar*/

.smallTriangleWhite {
    width: 0;
    height: 0;
    position: absolute;
    border-right: 80px solid transparent;
    border-top: 80px solid #fff;
    z-index: 0;
}

.alumno-container {
    background-color: #619EBA;
    height: 30em;
    width: 24em;
    overflow: hidden;
}

.alumno {
    transform: translateX(-45px);
    height: 720px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

.form-container {
    padding-top: 20px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginText {
    text-align: start;
    margin-bottom: 20px;
    color: #ffffff;
    width: 100%;
}

.form-container form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    margin-left: 5%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    opacity: 75%;
    width: 100%;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #448aa6;
    color: #fff;
}

.form-group input::placeholder {
    color: #fff;
    font-size: 14px;
}

.form-group input:focus {
    outline: none;
}

.btn {
    width: 25%;
    padding: 10px;
    background-color: #F26B1D;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    justify-self: end;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

::-webkit-validation-bubble-message{
    color: red;
}


@media (min-width: 768px) {
    .estatua {
        display: none;
    }

    header {
        position: fixed;
    }

    main {
        height: 100vh;
    }

    #container-icons {
        display: none;
    }
}

@media (max-width: 768px) {

    html {
        overflow: hidden;
    }

    body {
        background-color: #448aa6;
        overflow: hidden;
    }

    .smallTriangleWhite {
        display: none;
    }


    #form-group1 input {
        margin-top: 5%;
    }

    #form-group2 input {
        margin-top: 10%;
    }

    .form-group input {
        opacity: 100%;
        background-color: transparent;
    }

    .alumno-container {
        height: 0px;
        width: 0px;
    }

    .loginText {
        z-index: 100;
    }

    form {
        z-index: 100;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-estatua {
        position: absolute;
        opacity: 20%;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        /* Oculta cualquier parte de la imagen que sobresalga */
    }

    .estatua {
        width: 135%;
        /* Si necesitas que sea más grande */
        transform: translateY(20%) translateX(20%);
        overflow: hidden;
    }

    .login-container {
        width: 90%;
        height: auto;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .alumno {
        display: none;
    }

    .form-container {
        padding-right: 0;
    }

    .btn {
        margin-top: 20%;
        height: 22%;
        margin-left: 5%;
        width: 95%;
        /* Button spans full width on mobile */
        z-index: 100;
        border-radius: 5px;
    }

    main {
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        height: fit-content;
    }

    #container-icons {
        margin-bottom: 15%;
        display: flex;
        gap: 10px;
        z-index: 100;
        background-color: transparent;
        /* Espacio entre los iconos */
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        /* Tamaño del círculo */
        height: 40px;
        background-color: white;
        /* Fondo blanco */
        border-radius: 50%;
        /* Hace el fondo redondo */
        text-decoration: none;
        /* Elimina el subrayado del enlace */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* Sombra ligera */
        transition: background-color 0.3s, transform 0.2s;
    }

    .icon i {
        font-size: 20px;
        /* Tamaño del icono */
        color: #333;
        /* Color del icono */
        transition: color 0.3s;
    }

    .icon:hover {
        background-color: #e0e0e0;
        /* Color gris al pasar el mouse */
        transform: scale(1.1);
        /* Efecto de crecimiento */
    }

}