{% extends 'base_list.html' %}

{% load static %}

{% block subtitle %} {{ title }} {% endblock %}

{% block icon %}
<i class="fa-solid fa-user"></i>
{% endblock %}

{% block itemName %} {{ title }} {% endblock %}

{% block totalItem %} {{ totalStudents }} {% endblock %}

{% block addItem %} {{ shortTitle }} {% endblock %}


{% block tableHeader %}
<tr>
    <th class="noMostrarMovil">ID</th>
    <th>DNI</th>
    <th>Nombre</th>
    <th class="noMostrarMovil">Apellidos</th>
    <th class="noMostrarMovil">Teléfono</th>
    <th class="noMostrarMovil">Email</th>
    <th>Acciones</th>
</tr>
{% endblock %}

{% block tableBody %}
{% for student in students %}
<tr>
    <td class="noMostrarMovil">{{ student.id }}</td>
    <td>{{ student.dni | upper }}</td>
    <td>{{ student.first_name }}</td>
    <td class="noMostrarMovil">{{ student.last_name }}</td>
    <td class="noMostrarMovil">{{ student.phone }}</td>
    <td class="noMostrarMovil">{{ student.email }}</td>
    <td>
        <button class="bottomSee" data-student-id="{{ student.id }}">
            <img src="{% static 'images/svg/eye.svg' %}" alt="eye">
        </button>
        <button class="bottomDelete" data-student-id="{{ student.id }}">
            <img src="{% static 'images/svg/bin.svg' %}" alt="bin">
        </button>
    </td>
</tr>
{% endfor %}

<script defer>
    document.addEventListener("DOMContentLoaded", function () {
        const btnVer = document.querySelectorAll('.bottomSee');

        btnVer.forEach(btn => {
            btn.addEventListener('click', () => {
                let student_id = btn.getAttribute('data-student-id');
                let currentUrl = window.location.href;

                if (currentUrl.endsWith('/')) {
                    currentUrl = currentUrl.slice(0, -1);
                }

                let newUrl = currentUrl.includes('/list')
                    ? currentUrl.replace('/list', '/edit/' + student_id)
                    : currentUrl + '/edit/' + student_id;

                window.location.href = newUrl;
            });
        });
    });

    const deleteBtn = document.querySelectorAll('.bottomDelete');

    deleteBtn.forEach(btn => {
        btn.addEventListener('click', () => {
            const student_id = btn.getAttribute('data-student-id');

            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción no se puede deshacer',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    confirmButton: 'btn-swal-confirm',
                    cancelButton: 'btn-swal-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/student/delete/${student_id}/`, {
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        }
                    })
                        .then(response => {
                            if (response.ok) {
                                Swal.fire(
                                    'Eliminado!',
                                    'El alumno ha sido eliminado.',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'Hubo un problema al eliminar el alumno.',
                                    'error'
                                );
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            Swal.fire(
                                'Error!',
                                'Hubo un problema al eliminar el alumno.',
                                'error'
                            );
                        });
                }
            });
        });
    });
</script>

{% endblock %}