{% extends 'base_list.html' %}

{% block subtitle %} {{ title }} {% endblock %}

{% block js %}
    <script defer>
        function deleteStudent (studentId) {
            if (confirm('¿Estás seguro de eliminar este estudiante?')) {
                fetch (`/student/delete/${studentId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ 'id': studentId})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Estudiante eliminado correctamente');
                        document.getElementById(`student-${studentId}`).remove();
                    } else {
                        alert('Error al eliminar el estudiante');
                    }
                });
            }
        }
    </script>
{% endblock %}

{% block itemName %} {{ title }} {% endblock %}

{% block totalItem %} {{ totalStudents }} {% endblock %}

{% block addItem %} {{ shortTitle }} {% endblock %}

{% block tableHeader %}

<div class="tableHeaderCSS">
    <h3 class="tableHeaderTitleCSS">ID</h3>
    <h3 class="tableHeaderTitleCSS">DNI</h3>
    <h3 class="tableHeaderTitleCSS">Nombre</h3>
    <h3 class="tableHeaderTitleCSS">Apellidos</h3>
    <h3 class="tableHeaderTitleCSS">Teléfono</h3>
    <h3 class="tableHeaderTitleCSS">Email</h3>
</div>

{% endblock %}

{% block tableBody %}

{% for student in students %}
<div class="tableRowCSS {% if forloop.counter|divisibleby:2 %}evenRow{% else %}oddRow{% endif %}" id="student-{{ student.id }}">
    <p>{{ student.id }}</p>
    <p>{{ student.dni }}</p>
    <p>{{ student.first_name }}</p>
    <p>{{ student.last_name }}</p>
    <p>{{ student.phone }}</p>
    <p>{{ student.email }}</p>
    <div class="tableBottomsCSS">
        <button class="bottomSee">Ver</button>
        <button class="bottomDelete" onclick="deleteStudent({{ student.id }})">Eliminar</button>
    </div>
</div>
{% endfor %}

{% block extra_css %}
<style>
    .tableHeaderCSS{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 2fr 4fr 3fr;
        justify-items: start;
        padding-left: 1rem;
        background-color: #468DAE;
        color: white;
    }

    .tableHeaderTitleCSS{
        color: white;
    }

    .tableRowCSS{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 2fr 4fr 3fr;
        justify-items: start;
        padding-left: 1.5rem;
    }

    .evenRow {
        background-color: #f2f2f2;
    }

    .oddRow {
        background-color: #ffffff;
    }

    .tableBottomsCSS {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: end;
        padding-right: 5rem;
        align-items: center;
        gap: 1em;
    }

    .bottomSee {
        background-color: #468DAE;
        color: white;

        height: 60%;

        border: none;
        border-radius: .5em;

        padding: .6em 2em;
    }

    .bottomDelete {
        background-color: #DB5D5D;
        color: white;

        height: 60%;

        border: none;
        border-radius: .5em;

        padding: .6em 2em;
    }

</style>
{% endblock %}

{% endblock %}
