{% extends 'base_list.html' %}

{% load static %}

{% block subtitle %} {{ title }} {% endblock %}

{% block icon %}
<i class="fa-solid fa-user"></i>
{% endblock %}

{% block js %}
<script defer>
    function deleteStudent(studentId) {
        if (confirm('¿Estás seguro de eliminar este estudiante?')) {
            fetch(`/student/delete/${studentId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ 'id': studentId })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Estudiante eliminado correctamente');
                        document.getElementById(`student-${studentId}`).remove();
                    } else {
                        alert('Error al eliminar el estudiante');
                    }
                });
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        const btnVer = document.querySelectorAll('.bottomSee');

        btnVer.forEach(btn => {
            btn.addEventListener('click', () => {
                let student_id = btn.getAttribute('data-student-id'); // Obtener el ID del estudiante
                let currentUrl = window.location.href;

                if (currentUrl.endsWith('/')) {
                    currentUrl = currentUrl.slice(0, -1);
                }

                let newUrl = currentUrl.includes('/list')
                    ? currentUrl.replace('/list', '/edit/' + student_id)
                    : currentUrl + '/edit/' + student_id;

                window.location.href = newUrl;
            });
        });
    });
</script>
{% endblock %}

{% block itemName %} {{ title }} {% endblock %}

{% block totalItem %} {{ totalStudents }} {% endblock %}

{% block addItem %} {{ shortTitle }} {% endblock %}

{% block tableHeader %}

<div class="tableHeaderCSS">
    <h3 class="tableHeaderTitleCSS noMostrarMovil">ID</h3>
    <h3 class="tableHeaderTitleCSS ">DNI</h3>
    <h3 class="tableHeaderTitleCSS">Nombre</h3>
    <h3 class="tableHeaderTitleCSS noMostrarMovil">Apellidos</h3>
    <h3 class="tableHeaderTitleCSS noMostrarMovil">Teléfono</h3>
    <h3 class="tableHeaderTitleCSS noMostrarMovil">Email</h3>
</div>

{% endblock %}

{% block tableBody %}

{% for student in students %}
<div class="tableRowCSS {% if forloop.counter|divisibleby:2 %}evenRow{% else %}oddRow{% endif %}">
    <p class="noMostrarMovil">{{ student.id }}</p>
    <p class="">{{ student.dni | upper }}</p>
    <p>{{ student.first_name }}</p>
    <p class="noMostrarMovil">{{ student.last_name }}</p>
    <p class="noMostrarMovil">{{ student.phone }}</p>
    <p class="noMostrarMovil">{{ student.email }}</p>
    <div class="tableBottomsCSS">
        <button class="bottomSee" data-student-id="{{ student.id }}">
            <p class="noMostrarMovil">Ver</p>
            <img src="{% static 'images/svg/eye.svg' %}" alt="eye" class="noMostrarPc">
        </button>
        <button class="bottomDelete" onclick="deleteStudent({{ student.id }})">
            <p class="noMostrarMovil">Eliminar</p>
            <img src="{% static 'images/svg/bin.svg' %}" alt="bin" class="noMostrarPc">
        </button>
    </div>
</div>
{% endfor %}

{% endblock %}