{% extends 'base_manage_item.html' %}

{% load static %}

{% block icon %}
<i class="fa-solid fa-user"></i>
{% endblock %}

{% block buttons %}
<div class="hidden phone-buttons">
    <button id="btn-datos" class="btn-simple btn-datos active-button">
        <span>Datos</span>
    </button>
    <button class="btn-simple btn-modulos" id="btn-modulos">
        <span>Modulos<br>Impartidos</span>
    </button>
</div>

<div class="action-buttons">
    <button id="btn-edit" class="btn btn-edit"><i class="fa-solid fa-pen-to-square"></i> Editar</button>
    <button class="btn btn-delete-top" id="btn-delete" data-student-id="{{ id }}"><i class="fa-regular fa-user"></i>
        Eliminar</button>
</div>
{% endblock %}

{% block identifier %}
{{ dni }}
{% endblock %}

{% block inputValue %} {{ student_id }} {% endblock %}


{% block form %}
<style>
    .hidden {
        display: none;
    }

    .active-tuitions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;

        justify-content: center;

        background-color: #f9f9f9;

        padding: 1em;
    }

    .card-title {
        background-color: #468DAE;
        color: white;

        font-weight: 400;

        margin: 0;
        padding: .5em;

        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
    }

    .card-description {
        border: white .6em solid;
        height: 20%;

    }

    .card-duration {
        padding: .6em;

        display: flex;
        flex-direction: column;
        justify-content: end
    }

    .card-actions {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: end;

        padding: .5em;
    }

    .card-btn-see {
        background-color: #468DAE;
        color: white;

        border: none;
        border-radius: .5em;

        padding: .6em 2em;
    }

    .see-fp {
        display: flex;
        justify-content: end;
    }

    .tuition-card {
        width: 100%;

        border-radius: .5em;
        border: 1px solid rgba(242, 242, 242, 1);
    }

    .btn-simple {
            position: absolute;
            background: none;
            border: 0;
            color: inherit;
            font-size: 1em;
            padding: 0;
            cursor: pointer;
        }

        @media (max-width: 700px) {
            .active-button {
                padding-bottom: 2px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-top: 2px solid #468dae;
                border-left: 2px solid #468dae;
                border-right: 2px solid #468dae;

                margin-bottom: 0 !important;
                border-bottom: 0;

                background:#468dae;
                color: white;
            }

            .item-main {
                display: flex;
            }

            .item-title {
                margin-top: 75px;
                margin-left: 20px;
            }

            .item-actions {
                width: calc(100%-2em);
                gap: 2em;
                padding-left: 1em;
                padding-right: 1em;
                display: flex;
                flex-direction: column-reverse;
            }

            .up-phone-buttons{
                width: 100%;
                order: 3;
                position: relative;
            }

            .phone-buttons {
                position: relative;
                width: 100%;
                height: 44px;
                display: grid;
                order: 3;
                grid-template-columns: 1fr 1fr;
                margin: auto;
                border: #468dae 2px solid;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                /*
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                */
            }

            #btn-datos {
                left: -2px;
                top: -2px;
                width: 50%;
                height: 46px;
            }

            #btn-modulos {
                right: -2px;
                top: -2px;
                width: 50%;
                height: 46px;

                margin-top: 1px;
                margin-bottom: 2px;
            }
            #btn-modulos.active-button {
                margin-top: 0px;
            }



            .action-buttons {
                width: 100%;
                order: 2;
            }

            .btn-schedule {
                width: 100%;
                margin-bottom: 1em;
            }

            .bottom-buttons {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
            }

            .display-id {
                order: 1;
                align-self: stretch;
            }

            .item-edit-side {
                width: 100%;
                padding-left: 1em;
            }

            .side-section {
                width: calc(100%-2em);
                padding: 1em;
            }

            .item-edit-side {
                padding-right: 1em;
            }

            .item-section {
                padding: 0px;
            }

            .btn-add-subitem {
                width: 100%;
            }

            .side-section {
                width: 100%;
            }

            .noMostrarMovil {
                display: none;
            }

            .modules-table {
                margin-top: 1em;
            }
            .form-manage {
                margin-left: 16px;
            }
        }
        .action-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
        }
</style>
<article class="item-main">
    <section class="item-edit-side">
        <form method="post" class="form-manage" id="form-manage">
            <h2>Datos personales</h2>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="{{ form.dni.id_for_dni }}">{{ form.dni.label }}</label>
                    {{ form.dni }}
                </div>

                <div class="form-group">
                    <label for="{{ form.username.id_for_username }}">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_first_name }}">{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_last_name }}">{{ form.last_name.label}} </label>
                    {{ form.last_name }}
                </div>
            </div>
            <h2>Contacto</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="{{ form.email.id_for_email }}">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>

                <div class="form-group">
                    <label for="{{ form.phone.id_for_phone }}">{{ form.phone.label }}</label>
                    {{ form.phone }}
                </div>
            </div>
            <h2>Inicio de sesión</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="email_login">Email de inicio de sesión</label>
                    <input type="email">
                </div>
            </div>
            <div class="form-row">
                <button type="button" id="btn-reset-password" class="btn btn-warning">
                    <i class="fa-solid fa-key"></i> Restablecer contraseña
                </button>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-save">Guardar</button>
                <button type="button" class="btn btn-cancel">Cancelar</button>
            </div>
        </form>
    </section>
    {% endblock %}

    {% block side %}
    <section class="side-section">
        <h2>Matrículas activas</h2>

        <section class="active-tuitions">
            {% for fp in fps %}
            <div style="background-color: white; " class="tuition-card">
                <div id="titleCard">
                    <h3 class="card-title">{{ fp.initials }}</h3>
                    <div class="expand">
                        <div class="_layerm -vertical"></div>
                        <div class="_layerm -horizontal"></div>
                    </div>
                </div>
                <div class="card-content" style="padding: .5em;">
                    <p class="fp-name">{{ fp.short_name }}</p>
                    <p class="total-modules">Módulos en curso: {{ fp.modulos.count }}</p>
                    <p class="duration">Duración: {{ fp.duration }}</p>
                    <p class="see-fp"><button class="btn-see" data-fp-id="{{ fp.id }}"
                            data-student-id="{{ student_id }}"><img src="{% static 'images/svg/eye.svg' %}"
                                alt="eye"></button></p>
                </div>
            </div>
            {% endfor %}
        </section>
    </section>

    <script defer>
        const btnDelete = document.getElementById('btn-delete');
        const btnSeeFp = document.querySelectorAll('.btn-see');

        // Edit button
        const btnEdit = document.getElementById('btn-edit');
        const formElements = document.querySelectorAll('#form-manage input, #form-manage select, #form-manage textarea');
        let actionButtons = document.querySelector('.action-buttons');
        let formButtons = document.querySelector('.form-buttons');

        formElements.forEach(element => {
            element.disabled = true;
        });

        btnEdit.addEventListener('click', () => {
            formElements.forEach(element => {
                element.disabled = false;
                actionButtons.style.display = 'none';
                formButtons.style.display = 'block';
            });

            btnEdit.disabled = true;
        });


        btnSeeFp.forEach(btn => {
            btn.addEventListener('click', () => {
                let student_id = btn.getAttribute('data-student-id');
                let fp_id = btn.getAttribute('data-fp-id');

                let newUrl = `/student/edit-fp/${student_id}/${fp_id}`;

                window.location.href = newUrl;
            });
        });

        formElements.forEach(element => {
            element.disabled = true;
        })

        btnEdit.addEventListener('click', () => {
            formElements.forEach(element => {
                element.disabled = false;
            });

            btnEdit.disabled = true;
        })

        btnDelete.addEventListener('click', () => {
            const student_id = btnDelete.getAttribute('data-student-id');

            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción no se puede deshacer',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    confirmButton: 'btn-swal-confirm',
                    cancelButton: 'btn-swal-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/fp/delete/${fp_id}/`, {
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        }
                    })
                        .then(response => {
                            if (response.ok) {
                                Swal.fire(
                                    'Eliminado!',
                                    'El alumno ha sido eliminado.',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'Hubo un problema al eliminar el alumno.',
                                    'error'
                                );
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            Swal.fire(
                                'Error!',
                                'Hubo un problema al eliminar el alumno.',
                                'error'
                            );
                        });
                }
            });
        });

        document.getElementById('btn-reset-password').addEventListener('click', function () {
            const studentId = "{{ student_id }}";
            console.log(studentId);

            Swal.fire({
                title: "¿Restablecer contraseña?",
                text: "Se enviará un correo para que el usuario restablezca su contraseña.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Sí, enviar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/student/restore-password/${studentId}`, {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                            "Content-Type": "application/json"
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire("Éxito", "Se ha enviado el correo de restablecimiento.", "success");
                            } else {
                                Swal.fire("Error", "No se pudo procesar la solicitud.", "error");
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error);
                            Swal.fire("Error", "Hubo un problema con la solicitud.", "error");
                        });
                }
            });
        });


        function toggleHiddenClass() {
            const phoneButtons = document.querySelector('.phone-buttons');
            const sideSection = document.querySelector('.side-section');

            if (window.innerWidth <= 700) {
                phoneButtons.classList.remove('hidden');
                sideSection.classList.add('hidden');
            } else {
                phoneButtons.classList.add('hidden');
                sideSection.classList.remove('hidden');
            }
        }

        toggleHiddenClass();

        window.addEventListener('resize', toggleHiddenClass);

        document.addEventListener("DOMContentLoaded", function () {
            const btnDatos = document.getElementById("btn-datos");
            const btnModulos = document.getElementById("btn-modulos");
            const itemEditSide = document.querySelector(".item-edit-side");
            const sideSection = document.querySelector(".side-section");

            function toggleSections(showEdit) {
                if (showEdit) {
                    itemEditSide.classList.remove("hidden");
                    sideSection.classList.add("hidden");

                    btnDatos.classList.add("active-button")
                    btnModulos.classList.remove("active-button")
                } else {
                    itemEditSide.classList.add("hidden");
                    sideSection.classList.remove("hidden");

                    btnModulos.classList.add("active-button")
                    btnDatos.classList.remove("active-button")
                }
            }
            btnDatos.addEventListener("click", () => toggleSections(true));
            btnModulos.addEventListener("click", () => toggleSections(false));
        });
    </script>
    {% endblock %}
</article>