<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añade un FP</title>
</head>

<body>

    <header>

    </header>

    <main>
        <h1>Añadir un Modulo nuevo</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Añadir</button>
        </form>

        <p><a href="{% url 'list_module' %}">Volver a lista de modulos</a></p>

    </main>

    <footer>



    </footer>

</body>

</html>