{% extends 'base_manage_item.html' %}

{% block identifier %} Nuevo {% endblock %}

{% block inputValue %} {{ module_code }} {% endblock %}

{% block form %}
<article class="item-main">
    <section class="item-edit-side">
        <h2>Datos</h2>

        <form method="post" class="form-manage" id="form-manage">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="code">Código</label>
                    {{ form.code }}
                </div>

                <div class="form-group">
                    <label for="initials">Siglas</label>
                    {{ form.initials }}
                </div>
            </div>
            <div class="form-row-large">
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label}}</label>
                    {{ form.name }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="{{ form.color.id_for_color}}">{{ form.color.label }}</label>
                    {{ form.color }}
                </div>
                <div class="form-group">
                    <label for="{{ form.course.id_for_course }}">{{ form.course.label }}</label>
                    {{ form.course }}
                </div>
            </div>
            <div class="form-row-large">
                <div class="form-group">
                    <label for="fp">Ciclo Formativo</label>
                    {{ form.fp }}
                </div>
            </div>
            <div class="form-row-large">
                <div class="form-group">
                    <label for="{{ form.teachers.id_for_label}}">Profesores</label>
                    {{ form.teachers }}
                </div>
            </div>

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-buttons">
                <button type="submit" class="btn btn-save">Guardar</button>
                <button type="button" class="btn btn-cancel">Cancelar</button>
            </div>
        </form>
    </section>
</article>
<style>
    @media (max-width: 700px) {
        .item-main {
            display: flex;
            padding-left: 1em;
        }

        .item-edit-side {
            width: 100%;
        }
    }
</style>
{% endblock %}