{% extends 'base_manage_item.html' %}

{% block icon %}
<i class="fa-solid fa-book"></i>
{% endblock %}

{% load static %}

{% block buttons %}
    <div class="hidden phone-buttons">
        <button id="btn-datos" class="btn-simple btn-datos active-button"> Datos</button>
        <button class="btn-simple btn-modulos" id="btn-modulos"> Modulos<br>Impartidos</button>
    </div>
    <div class="action-buttons">
        <button class="btn btn-schedule" id="btn-to-schedule" data-fp-id="{{ id }}"><i class="fa-regular fa-clock"></i>
            Horario</button>
        <div class="bottom-buttons">
            <button id="btn-edit" class="btn btn-edit"><i class="fa-solid fa-pen-to-square"></i> Editar</button>
            <button class="btn btn-delete-top" id="btn-delete" data-fp-id="{{ id }}"><i class="fa-regular fa-user"></i>
                Eliminar</button>
        </div>
    </div>
{% endblock %}

{% block identifier %}
{{ fp_code }}
{% endblock %}

{% block inputValue %} {{ fp_code }} {% endblock %}


{% block form %}
<article class="item-main">
    <section class="item-edit-side">
        <h2>Datos</h2>

        <form method="post" class="form-manage" id="form-manage">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="code">Código</label>
                    {{ form.code }}
                </div>

                <div class="form-group">
                    <label for="initials">Siglas</label>
                    {{ form.initials }}
                </div>
            </div>
            <div class="form-row-large">
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label}} </label>
                    {{ form.name }}
                </div>
            </div>
            <div class="form-row-large">
                <div class="form-group">
                    <label for="{{ form.short_name.id_for_label}}">{{ form.short_name.label }}</label>
                    {{ form.short_name }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="duration">Duración (años)</label>
                    {{ form.duration }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="fp_type">Tipo de FP</label>
                    {{ form.fp_type }}
                </div>
            </div>
            <div class="form-row-large">
                <div class="form-group">
                    <label for="{{ form.description.id_for_label}}">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
            </div>

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-save">Guardar</button>
        </form>
    </section>
    <style>
        .hidden {
            display: none;
        }

        .tableHeaderCSS {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr 3fr;
            justify-items: start;
            padding-left: 1rem;

            background-color: #468dae;
            color: white;
        }

        .tableHeaderTitleCSS {
            color: white;
        }

        .tableBody {
            overflow-y: scroll;
            height: 580px;
        }

        .tableRowCSS {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr 3fr;
            justify-items: start;
            padding-left: 1.5rem;
        }

        .evenRow {
            background-color: #f2f2f2;
        }

        .oddRow {
            background-color: #ffffff;
        }

        .tableBottomsCSS {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-self: end;
            padding-right: 10%;
            align-items: center;
            gap: 1em;
        }

        .tableBottomsCSS button {
            display: flex;
            justify-content: center;
            align-items: center;

            color: white;

            height: 60%;

            border: none;
            border-radius: 0.5em;

            padding: 0.6em 2em;
        }

        .bottomSee {
            background-color: #468dae;
        }

        .bottomDelete {
            background-color: #db5d5d;
        }

        .action-buttons{
            grid-template-columns: 1fr 2fr;
        }

        .btn-simple {
                background: none;
                border: 0;
                border-bottom: 3px solid black;
                color: inherit;
                font-size: 1em;
                padding: 0;
                cursor: pointer;
            }
        @media (max-width: 700px) {
            .active-button {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-top: 3px solid violet;
                border-left: 3px solid violet;
                border-right: 3px solid violet;

                border-bottom: 0;
        }
            .item-main {
                display: flex;
            }

            .item-title {
                margin-top: 75px;
                margin-left: 20px;
            }

            .item-actions {
                width: calc(100%-2em);
                gap: 2em;
                padding-left: 1em;
                padding-right: 1em;
                display: flex;
                flex-direction: column-reverse;
            }

            .phone-buttons {
                width: 80%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                order: 3;
                margin: auto;
            }

            

            .action-buttons {
                width: 100%;
                order: 2;
            }

            .btn-schedule {
                width: 100%;
                margin-bottom: 1em;
            }

            .bottom-buttons {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
            }

            .display-id {
                order: 1;
                align-self: stretch;
            }

            .item-edit-side {
                width: 100%;
                padding-left: 1em;
            }

            .side-section {
                width: calc(100%-2em);
                padding: 1em;
            }

            .item-edit-side {
                padding-right: 1em;
            }

            .item-section {
                padding: 0px;
            }

            .btn-add-subitem {
                width: 100%;
            }

            .side-section {
                width: 100%;
            }

            .noMostrarMovil {
                display: none;
            }

            .modules-table {
                margin-top: 1em;
            }
        }
    </style>
    {% endblock %}

    {% block side %}
    <section class="side-section hidden">
        <h2>Módulos impartidos</h2>
        <a href="{% url 'module_add' %}">
            <button type="button" class="btn btn-add-subitem" title="AñadirModulo">
                <i class="fa-solid fa-plus"></i> Añadir módulo
            </button>
        </a>

        <div class="modules-table">
            <div class="tableHeaderCSS moduleList">
                <h3 class="tableHeaderTitleCSS">Código</h3>
                <h3 class="tableHeaderTitleCSS">Nombre</h3>
                <h3 class="tableHeaderTitleCSS">Curso</h3>
                <div class="tableHeaderTitleCSS"></div> <!-- Espacio para los botones -->
            </div>
            {% for module in asociated_modules %}
            <div
                class="tableRowCSS moduleList {% if forloop.counter|divisibleby:2 %}evenRow{% else %}oddRow{% endif %}">
                <p>{{ module.code }}</p>
                <p>{{ module.name }}</p>
                <p>{{ module.course }}</p>
                <div class="tableBottomsCSS">
                    <button class="bottomSee" data-module-id="{{ module.id }}">
                        <img src="{% static 'images/svg/eye.svg' %}" alt="eye" class="noMostrarPc">
                    </button>
                    <button class="bottomDelete">
                        <img src="{% static 'images/svg/bin.svg' %}" alt="bin" class="noMostrarPc">
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <script defer>
        const btnToSchedule = document.getElementById('btn-to-schedule');
        const btnEdit = document.getElementById('btn-edit');
        const formElements = document.querySelectorAll('#form-manage input, #form-manage select, #form-manage textarea');
        const btnDelete = document.getElementById('btn-delete');
        const btnToModule = document.querySelectorAll(".btn-see"); // Seleccionamos correctamente todos los botones "Ver"

        formElements.forEach(element => {
            element.disabled = true;
        })

        btnEdit.addEventListener('click', () => {
            formElements.forEach(element => {
                element.disabled = false;
            });

            btnEdit.disabled = true;
        })

        btnToSchedule.addEventListener('click', () => {
            const fp_id = btnToSchedule.getAttribute('data-fp-id');
            window.location.href = `/schedule/view-schedule/${fp_id}`;
        });

        // Bucle para asignar eventos a todos los botones "Ver"
        btnToModule.forEach(button => {
            button.addEventListener("click", () => {
                const module_id = button.getAttribute("data-module-id");
                window.location.href = `/module/edit/${module_id}`;
            });
        });


        btnDelete.addEventListener('click', () => {
            const fp_id = btnDelete.getAttribute('data-fp-id');

            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción no se puede deshacer',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    confirmButton: 'btn-swal-confirm',
                    cancelButton: 'btn-swal-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/fp/delete/${fp_id}/`, {
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        }
                    })
                        .then(response => {
                            if (response.ok) {
                                Swal.fire(
                                    'Eliminado!',
                                    'El FP ha sido eliminado.',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'Hubo un problema al eliminar el FP.',
                                    'error'
                                );
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            Swal.fire(
                                'Error!',
                                'Hubo un problema al eliminar el FP.',
                                'error'
                            );
                        });
                }
            });
        });


        function toggleHiddenClass() {
            const phoneButtons = document.querySelector('.phone-buttons');
            const sideSection = document.querySelector('.side-section');

            if (window.innerWidth <= 700) {
                phoneButtons.classList.remove('hidden');
                sideSection.classList.add('hidden');
            } else {
                phoneButtons.classList.add('hidden');
                sideSection.classList.remove('hidden');
            }
        }

        toggleHiddenClass();

        window.addEventListener('resize', toggleHiddenClass);

        document.addEventListener("DOMContentLoaded", function () {
            const btnDatos = document.getElementById("btn-datos");
            const btnModulos = document.getElementById("btn-modulos");
            const itemEditSide = document.querySelector(".item-edit-side");
            const sideSection = document.querySelector(".side-section");

            function toggleSections(showEdit) {
                if (showEdit) {
                    itemEditSide.classList.remove("hidden");
                    sideSection.classList.add("hidden");

                    btnDatos.classList.add("active-button")
                    btnModulos.classList.remove("active-button")
                } else {
                    itemEditSide.classList.add("hidden");
                    sideSection.classList.remove("hidden");

                    btnModulos.classList.add("active-button")
                    btnDatos.classList.remove("active-button")
                }
            }
            btnDatos.addEventListener("click", () => toggleSections(true));
            btnModulos.addEventListener("click", () => toggleSections(false));
        });

    </script>
    {% endblock %}
</article>