{% extends 'base_select.html' %}

{% block subtitle %} {{ title }} {% endblock %}

{% block itemName %} {{ title }}{% endblock %}

{% block totalItem %} {{ totalFp }} {% endblock %}

{% block addItem %} {{ shortTitle }} {% endblock %}

{% block icon %}
<i class="fa-solid fa-book"></i>
{% endblock %}

{% block welcomeMessage %}
{% endblock %}
{% block cards %}
{% for fp in fps_data %}
<div class="item-card">
    <h3 class="card-title">{{ fp.initials }}</h3>

    <div class="noTitleGroup">
        <textarea class="card-description textarea-span">{{ fp.short_name }}</textarea>

        <div class="DurationActionGroup">
            <p class="card-duration">Duración: {{ fp.duration }} años</p>
        
            <section class="card-actions">
                <button class="card-btn-see bottomSee" data-fp-id="{{ fp.id }}">Ver</button>
                <button class="card-btn-delete" data-fp-id="{{ fp.id }}">Eliminar</button>
            </section>
        </div>
    </div>

    
</div>
{% endfor %}
<script defer>
    const addBtn = document.getElementById('add-item-btn');

    addBtn.addEventListener('click', () => {
        window.location.href = '/fp/add/';
    });

    const btnVer = document.querySelectorAll('.bottomSee');

    btnVer.forEach(btn => {
        btn.addEventListener('click', () => {
            let fp_id = btn.getAttribute('data-fp-id'); // Obtener el ID del módulo
            let currentUrl = window.location.href;

            if (currentUrl.endsWith('/')) {
                currentUrl = currentUrl.slice(0, -1);
            }

            let newUrl = currentUrl.includes('/list')
                ? currentUrl.replace('/list', '/edit/' + fp_id)
                : currentUrl + '/edit/' + fp_id;

            window.location.href = newUrl;
        });
    });
</script>
{% endblock %}