{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% load static %}

{% block css %}
<style>
.item-title {
    display: flex
;
    justify-content: start;
    align-items: center;
    gap: 1em;
    height: 8.5%;
    color: #468dae;
    margin-top: 1.7%;
    font-weight: bold;
}
@media (max-width:700px) {
    .item-title{
        margin-top: 20%;
        margin-left: 5%;
    }
    .section-active-tuitions {
        grid-template-columns: 1fr !important;
        width: 89% !important;
    }

    .section-add-tuition{
        padding: 4em 2em 4em 2em !important;
    }

    #titleCard {
            border-radius: .5em;
            border-radius: .5em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #468DAE;
        }

        #titleCard.is-active {
            border-top-left-radius: .5em;
            border-top-right-radius: .5em;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #468DAE;
        }

        .expand {
            background-color: transparent;
            height: 34px;
            width: 30px;
            margin-right: .5em;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);

            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .expand.is-active {
            background-color: none;
        }

        ._layerm {
            position: absolute;
            background: white;
            margin-bottom: 4px;
            border-radius: 2px;
            width: 28px;
            height: 4px;
            opacity: 1;
            margin: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        }

        .-vertical {
            transform: rotate(90deg) translate3d(0, 0, 0);
        }

        .-horizontal {
            transform: rotate();
        }

        .noTitleGroup {
            opacity: 0;
            /* Empieza invisible */
            visibility: hidden;
            /* Hace que el elemento sea completamente inaccesible */
            max-height: 0;
            /* Inicia con altura 0 */
            overflow: hidden;
            /* Evita que el contenido se vea fuera de la caja */
            transition: opacity 0.2s ease, max-height 0.2s ease, visibility 0s linear 0.2s;
            /* Transición de opacidad y altura */
        }

        /* Cuando la clase .is-active se añade, el elemento se muestra con animación */
        .noTitleGroup.is-active {
            opacity: 1;
            /* Vuelve visible */
            visibility: visible;
            /* Hace que el elemento sea accesible */
            max-height: 1000px;
            /* Ajusta la altura máxima al valor necesario (puedes ajustarlo según el contenido) */
            transition: opacity 0.7s ease, max-height 0.7s ease, visibility 0s linear 0s;
            /* La transición para la visibilidad y altura */
        }

        .expand.is-active .-vertical {
            opacity: 1;
            transform: translateY(0%) translateX(0%) rotate(45deg) !important;
        }


        .expand.is-active .-horizontal {
            transform: translateY(0%) translateX(0%) rotate(-45deg) !important;
        }
    
}

.item-title i {
    font-size: 1cm;
}

.section-add-tuition {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5em 10em 5em 10em;
}

.btn-add-tuition {
    background-color: #7ed9ae;
    color: white;

    padding: 1em 2em;

    font-size: 1.5em;

    border: none;
    border-radius: .5em;
}

.btn {
    cursor: pointer;
}

.title-active-tuitions {
    font-weight: 500;
}

.section-active-tuitions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    justify-content: center;

    background-color: #f9f9f9;

    width: 75%;

    padding: 1em;
}

.card-title {
    background-color: #468DAE;
    color: white;

    font-weight: 400;

    margin: 0;
    padding: .5em;

    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.card-description {
    border: white .6em solid;
    height: 20%;
}

.card-duration {
    padding: .6em;

    display: flex;
    flex-direction: column;
    justify-content: end
}

.card-actions {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: end;

    padding: .5em;
}

.card-btn-see {
    background-color: #468DAE;
    color: white;

    border: none;
    border-radius: .5em;

    padding: .6em 2em;
}

.tuition-card {
    width: 100%;

    border-radius: .5em;
    border: 1px solid rgba(242, 242, 242, 1);
}

.item-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    justify-items: center;


}

.bottomSee:hover {
    cursor: pointer;
}

.card-content {
    display: flex;
    flex-direction: column;

    padding: .5em;
}

.see-fp {
    text-align: end;
}

.btn-see {
    background-color: #468DAE;
    color: white;

    border: none;
    border-radius: .5em;

    padding: .6em 2em;

    cursor: pointer;
}

.btn-see:hover {
    opacity: .8em;
}

.section-no-tuitions {
    background-color: #f9f9f9;

    width: 75%;

    margin: 0 auto;
    padding: 1em;
}

.no-tuitions-msg {
    font-weight: 500;

    color: #468DAE;

    text-align: center;
}
</style>
{% endblock %}

{% block content %}
<section class="item-section">
    <article class="item-title">
        <i class="fa-solid fa-graduation-cap"></i>
        <h2><span style="font-weight: 500;">{{ title }}</span></h2>
    </article>
    <article class="item-message">
        {% block welcomeMessage %}
        {% endblock %}
    </article>

    <article class="main-tuitions">
        <section class="section-add-tuition">
            <a href="{% url 'select_tuition' %}">
                <button class="btn btn-add-tuition">
                    <i class="fa-solid fa-plus"></i>
                    Realizar nueva matrícula
                </button>
            </a>
        </section>

        <h2 class="title-active-tuitions">Matrículas activas:</h2>

        {% if fps_with_modules %}
        <section class="section-active-tuitions">
            {% for item in fps_with_modules %}
            <div class="tuition-card">
                <div id="titleCard">
                    <h3 class="card-title">{{ item.fp.initials }}</h3>
                    <div class="expand">
                        <div class="_layerm -vertical"></div>
                        <div class="_layerm -horizontal"></div>
                    </div>
                </div>
                <div class="card-content noTitleGroup">
                    <p class="fp-name">{{ item.fp.short_name }}</p>
                    <p class="total-modules">Módulos en curso: {{ item.modules.count }}</p>
                    <p class="see-fp">
                        <a href="{% url 'fp_detail_student' item.fp.id %}">
                            <button class="btn-see"><img src="{% static 'images/svg/eye.svg' %}" alt="eye">
                            </button>
                        </a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </section>
        {% else %}
        <section class="section-no-tuitions">
            <p class="no-tuitions-msg">No hay matrículas activas</p>
        </section>
        {% endif %}

    </article>
</section>

<script>
    const expandElements = document.querySelectorAll("#titleCard");

function toggleExpand(event) {
    // Aquí, el 'this' se refiere al elemento clickeado
    this.classList.toggle('is-active');
    this.closest(".tuition-card").querySelector(".expand").classList.toggle("is-active");
    this.closest(".tuition-card").querySelector(".noTitleGroup").classList.toggle("is-active");
    this.closest(".tuition-card").querySelector("#titleCard").classList.toggle("is-active");
}

expandElements.forEach(expand => {
    expand.addEventListener('click', toggleExpand, false);
});
</script>
{% endblock %}


