<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer credenciales</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    {% load static %} {% block css %} {% endblock %}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>
    <div class="contenedor-estatua">
        <img src="{% static 'images/home/estatua_sanclemente.png' %}" alt="estatua" class="estatua">
    </div>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="Imagen logo IES San Clemente" class="logo">
    </header>
    <main>
        <div class="login-container">
            <div class="alumno-container">
                <div class="smallTriangleWhite"> </div>
                <img src="{% static 'images/home/alumno.png' %}" alt="Estudiante feliz" class="alumno">
                
                </div>
            <div class="form-container">
                <h2 class="loginText">Restablecer credenciales</h2>
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-3 form-group">
                        <input type="password" name="old_password" id="id_old_password" class="form-control" placeholder="Contraseña antigua" required>
                        {% if form.old_password.errors %}
                            <div class="error-message">
                                {% for error in form.old_password.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                
                    <div class="mb-3 form-group">
                        <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="Contraseña nueva" required>
                        {% if form.new_password1.errors %}
                            <div class="error-message">
                                {% for error in form.new_password1.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                
                    <div class="mb-3 form-group">
                        <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Repetir contraseña nueva" required>
                        {% if form.new_password2.errors %}
                            <div class="error-message">
                                {% for error in form.new_password2.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                
                    <div class="btns">
                        <button type="submit" class="btn">Restablecer</button>
                    </div>
                </form>                
            </div>
        </div>

        <div id="container-icons">
            <a href="" class="icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="icon">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </main>
</body>

</html>