<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    {% load static %} {% block css %} {% endblock %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>
    <div class="contenedor-estatua">
        <img src="{% static 'images/home/estatua_sanclemente.png' %}" alt="estatua" class="estatua">
    </div>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="Imagen logo IES San Clemente" class="logo">
    </header>
    <main>
        <div class="login-container">
            <div class="alumno-container">
                <div class="smallTriangleWhite"> </div>
                <img src="{% static 'images/home/alumno.png' %}" alt="Estudiante feliz" class="alumno">
                
                </div>
            <div class="form-container">
                <h2 class="loginText">Login</h2>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group" id="form-group1">
                        <input type="text" id="username" name="username" placeholder="Email" required>
                    </div>
                    <div class="form-group" id="form-group2">
                        <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    </div>
                    <button type="submit" class="btn">Acceder</button>
                </form>
            </div>
        </div>

        <div id="container-icons">
            <a href="" class="icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="icon">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </main>
</body>

</html>