{% extends 'base_list.html' %}

{% load static %}

{% block subtitle %} {{ title }} {% endblock %}

{% block itemName %} {{ title }} {% endblock %}

{% block totalItem %} {{ totalTeachers }} {% endblock %}

{% block addItem %} {{ shortTitle }} {% endblock %}

{% block icon %}
<i class="fa-solid fa-chalkboard-user"></i>
{% endblock %}

{% block tableHeader %}
<tr>
    <th class="noMostrarMovil">ID</th>
    <th><span class="noMostrarPc">Nombre</span><span class="noMostrarMovil">Nombre Completo</span></th>
    <th>DNI</th>
    <th class="noMostrarMovil">Email</th>
    <th class="noMostrarMovil">Teléfono</th>
    <th class="noMostrarMovil">Módulos</th>
    <th></th>
</tr>
{% endblock %}

{% block tableBody %}
{% for teacher in teachers %}
<tr class="{% if forloop.counter|divisibleby:2 %}evenRow{% else %}oddRow{% endif %}">
    <td class="noMostrarMovil">{{ teacher.id }}</td>
    <td>
        <div class="teacherContainer">
            <span class="teacherName">{{ teacher.name }}</span>
            <span class="puntoyespacio">.&nbsp;</span>
            <span class="teacherLastName">{{ teacher.last_name }}</span>
        </div>
    </td>
    <td>{{ teacher.dni }}</td>
    <td class="noMostrarMovil">{{ teacher.email }}</td>
    <td class="noMostrarMovil">+34 {{ teacher.phone }}</td>
    <td class="noMostrarMovil">
        {% if teacher.modules.all %}
        {% for module in teacher.modules.all %}
        <a href="{% url 'module_edit' module.id %}" class="module-btn">{{ module.initials }}</a>
        {% if not forloop.last %}
        {% endif %}
        {% endfor %}
        {% else %}
        No imparte
        {% endif %}
    </td>
    <td>
        <button class="btn-see bottomSee btn btn-outline-primary btn-sm" data-teacher-id="{{ teacher.id }}">
            <img src="{% static 'images/svg/eye.svg' %}" alt="eye">
        </button>
        <button class="btn-delete bottomDelete btn btn-outline-danger btn-sm" data-teacher-id="{{ teacher.id }}">
            <img src="{% static 'images/svg/bin.svg' %}" alt="bin">
        </button>
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block js %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const btnVer = document.querySelectorAll('.bottomSee');
        const deleteBtns = document.querySelectorAll('.bottomDelete');

        btnVer.forEach(btn => {
            btn.addEventListener('click', () => {
                let teacher_id = btn.getAttribute('data-teacher-id');
                let currentUrl = window.location.href;

                if (currentUrl.endsWith('/')) {
                    currentUrl = currentUrl.slice(0, -1);
                }

                let newUrl = currentUrl.includes('/list')
                    ? currentUrl.replace('/list', '/edit/' + teacher_id)
                    : currentUrl + '/edit/' + teacher_id;

                window.location.href = newUrl;
            });
        });

        deleteBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                const teacher_id = btn.getAttribute('data-teacher-id');

                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'Esta acción no se puede deshacer',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar',
                    customClass: {
                        confirmButton: 'btn-swal-confirm',
                        cancelButton: 'btn-swal-cancel'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/teacher/delete/${teacher_id}/`, {
                            method: 'DELETE',
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}',
                            }
                        })
                            .then(response => {
                                if (response.ok) {
                                    Swal.fire(
                                        'Eliminado!',
                                        'El Profesor ha sido eliminado.',
                                        'success'
                                    ).then(() => {
                                        window.location.reload();
                                    });
                                } else {
                                    Swal.fire(
                                        'Error!',
                                        'Hubo un problema al eliminar el Profesor.',
                                        'error'
                                    );
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                Swal.fire(
                                    'Error!',
                                    'Hubo un problema al eliminar el Profesor.',
                                    'error'
                                );
                            });
                    }
                });
            });
        });
    });
</script>

<style>
    .puntoyespacio {
        display: none;
    }

    @media (max-width: 700px) {
        .puntoyespacio {
            display: inline;
        }

        .teacherContainer {
            display: inline-flex;
            align-items: center;
        }

        .teacherName {
            white-space: nowrap;
            /* Evita que el nombre se divida en varias líneas */
            overflow: hidden;
            /* Oculta cualquier contenido que se desborde */
            width: 1ch;
            /* Limita el ancho a una sola letra */
            display: inline-block;
            /* Asegura que el nombre y el apellido estén en línea */
        }

        /* Añadir el punto y el espacio después de la inicial */
        .teacherName::after {
            content: ". ";
            /* Añade un punto y un espacio al final */
            display: inline;
        }

        .teacherLastName {
            display: inline;
            /* El apellido se muestra completo */
        }
    }
</style>
{% endblock %}