{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% load static %}

{% block css %}

<style>
.item-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;

    font-weight: 500 !important;

    color: #468dae;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-title i {
    font-size: 1.5em;
}

.main-body-margins{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 83vh; 
    text-align: center;
}
    #multiple-courses-body{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
        #multiple-courses-title{
            font-size: 24px;
            font-weight: bold;
            max-width: 49ch;
        }
        #available-courses-schedule{
            padding: 20px;
            background-color: rgba(242, 242, 242, 0.5);
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
            .available-course-schedule{
                background-color: white;
                height: 250px;
                width: 350px;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
            }
                .course-header{
                    height: 20%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: center;
                    background-color: #468DAE;
                    align-items: center;
                    padding: 0 15px;
                    color: white;
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                }
                    .course-acronym{
                        font-weight: bold;
                    }
                    .course-modality{
                        font-size: 12px;
                    }
                .course-body{
                    margin: 15px 15px 10px 15px;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                }
                    .course-body-info{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        flex-grow: 1;
                    }
                        .course-duration{
                            font-size: 14px;
                        }
                            .course-duration b{
                                font-weight: bold;
                            }
                    .course-body-action-buttons{
                        display: flex;
                        flex-direction: row;
                        gap: 15px;
                        height: 30px;
                        width: 100%;
                        justify-content: end;
                    }
                        .course-body-action-buttons a{
                            text-decoration: none;
                        }
                        .btn-primary{
                            height: 100%;
                            padding: 0 10px;
                            background-color: rgba(70, 141, 174, 0.85);
                            color: white;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                        }
                        .btn-primary:hover{
                            cursor: pointer;
                            background-color: rgba(70, 141, 174, 1);
                        }
        #see-all-courses{
            color: #468DAE;
        }


</style>
{% endblock %}

{% block content %}
<article class="item-title">
    <i class="fa-solid fa-clock"></i>
    <h2>{{ title }}</h2>
</article>

<div class="main-body-margins">
    {% if fps %}
        {% if fps|length > 1 %}
            <article class="article-center" id="multiple-courses-body">
                <p id="multiple-courses-title">Parece estar matriculado en más de un ciclo formativo, puede:</p>
                <div>Seleccionar un ciclo para ver el horario:</div>
                <section id="available-courses-schedule">
                    {% for fp in fps %}
                    <div class="available-course-schedule">
                        <div class="course-header">
                            <span class="course-acronym">{{ fp.initials }}</span>
                            <span class="course-modality">Presencial</span>
                        </div>
                        <div class="course-body">
                            <div class="course-body-info">
                                <div class="course-name">{{ fp.name }}</div>
                                <div class="course-duration">Duración: <b>{{ fp.duration }}</b> años</div>
                            </div>
                            <div class="course-body-action-buttons">
                                <a href="/schedule/my-schedule/{{ fp.id }}/1"><div class="btn-primary">Ver horario</div></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
                <a href="" id="see-all-courses">Ver los horarios fusionados</a>
            </article>
        {% else %}
            <article class="article-center">
                <p id="multiple-courses-title">Estás matriculado en un solo ciclo formativo</p>
                {% for fp in fps %}
                    <div class="available-course-schedule">
                        <div class="course-header">
                            <span class="course-acronym">{{ fp.initials }}</span>
                            <span class="course-modality">distancia</span>
                        </div>
                        <div class="course-body">
                            <div class="course-body-info">
                                <div class="course-name">{{ fp.name }}</div>
                                <div class="course-duration">Duración: <b>{{ fp.duration }}</b> años</div>
                            </div>
                            <div class="course-body-action-buttons">
                                <a href="/schedule/my-schedule/{{ fp.id }}/1"><div class="btn-primary">Ver horario</div></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </article>
        {% endif %}
    {% else %}
        <article class="article-center">
            <p id="multiple-courses-title">No estás matriculado en ningún ciclo formativo</p>
            <div class="available-course-schedule">
                <p style="text-align: center; padding: 20px; font-size: 18px;">Actualmente no tienes ciclos formativos disponibles.</p>
            </div>
        </article>
    {% endif %}
</div>

{% endblock %}
