<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nombre | {% block title %}{% endblock %}</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css" />
  {% block css %} {% endblock %}

  <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
  <script src="https://kit.fontawesome.com/158b099d34.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.1/dist/jspdf.umd.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

  {% block js %} {% endblock %}
</head>

<body>
  <!-- Cabecera de la web -->
  <header id="header">
    <nav class="navAll" id="navAll">
      <a href="{% url 'homepage' %}"></a>
      <div id="navLogo">

        <a href="/"><img src="{% static 'images/logo.png' %}" alt="Logo IES San Clemente" id="logoSanClemente" /></a>
        <hr style="width: 90%; border: 1px solid white" />

        </a>
      </div>
      <div class="hamburger">
        <div class="_layer -top"></div>
        <div class="_layer -mid"></div>
        <div class="_layer -bottom"></div>
      </div>

      <!-- Menú de navegación -->
      <div class="navBottom" id="navBottom">
        <div id="navCentro">
          {% if request.user.is_superuser %}
          <div id="navStudent">
            <a href="{% url 'student_list' %}">
              <i class="fa-solid fa-user"></i>
              <span class="navItem">Alumnos</span>
            </a>
          </div>
          <div id="navFP">
            <a href="{% url 'fp_list' %}">
              <i class="fa-solid fa-book"></i>
              <span class="navItem">Ciclos formativos</span>
            </a>
          </div>
          <div id="navModule">
            <a href="{% url 'module_list' %}">
              <i class="fa-solid fa-graduation-cap"></i>
              <span class="navItem">Módulos</span>
            </a>
          </div>
          <div id="navSchedule">
            <a href="{% url 'select_schedule' %}">
              <i class="fa-regular fa-clock"></i>
              <span class="navItem">Horarios</span></a>
          </div>
          <div id="navTeacher">
            <a href="{% url 'teacher_list' %}">
              <i class="fa-solid fa-chalkboard-user"></i>
              <span class="navItem">Profesores</span></a>
          </div>
          {% else %}
          <div id="navSchedule">
            <a href="{% url 'my_schedules' %}">
              <i class="fa-solid fa-clock"></i>
              <span class="navItem">Mis horarios</span></a>
          </div>
          <div id="navTuition">
            <a href="{% url 'my_tuitions' %}">
              <i class="fa-solid fa-graduation-cap"></i>
              <span class="navItem">Mis matrículas</span></a>
          </div>
          <div id="navFP">
            <a href="{% url 'fp_list_student' %}">
              <i class="fa-solid fa-book"></i>
              <span class="navItem">Ciclos formativos</span></a>
          </div>
          {% endif %}
        </div>

        <div id="navUser">
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn-logout">Cerrar sesión</a>
          <img src="{% static 'images/svg/logout_svgrepo.com.svg' %}" alt="Cerrar sesión" />
          {% else %}
          <span>
            <a href="{% url 'login' %}">Iniciar sesión</a></span>
          <img src="{% static 'images/svg/logout_svgrepo.com.svg' %}" alt="Iniciar sesión" />
          {% endif %}
        </div>
      </div>
    </nav>

  </header>

  <main id="main-content">{% block content %}{% endblock %}</main>
</body>



</html>

<script>
  const currentPath = window.location.pathname;

  const routes = {
    '/student': '#navStudent',
    '/fp': '#navFP',
    '/module': '#navModule',
    '/schedule': '#navSchedule',
    '/teacher': '#navTeacher',
    '/tuition': '#navTuition'
  };

  const menu = document.querySelector('.hamburger');

  function toggleMenu(event) {
    menu.classList.toggle('is-active');
    document.querySelector(".navBottom").classList.toggle("is_active");
    document.querySelector(".navAll").classList.toggle("is_active");

    event.preventDefault();
  }

  menu.addEventListener('click', toggleMenu, false);

  const expandElements = document.querySelectorAll("#titleCard");

  function toggleExpand(event) {
    // Aquí, el 'this' se refiere al elemento clickeado
    this.classList.toggle('is-active');
    this.closest(".item-card").querySelector(".expand").classList.toggle("is-active");
    this.closest(".item-card").querySelector(".noTitleGroup").classList.toggle("is-active");
    this.closest(".item-card").querySelector("#titleCard").classList.toggle("is-active");
  }

  expandElements.forEach(expand => {
    expand.addEventListener('click', toggleExpand, false);
  });


  for (let route in routes) {
    if (currentPath.startsWith(route)) {
      document.querySelector(routes[route]).classList.add('selected');
    }
  }
</script>
<script>
  function applyResponsiveText(className) {
    let elements = document.querySelectorAll("." + className);
    let originalTexts = [];

    // Guarda los textos originales
    elements.forEach((el, index) => {
      originalTexts[index] = el.textContent;
    });

    function updateText() {
      elements.forEach((el, index) => {
        if (window.innerWidth < 700) {
          el.textContent = originalTexts[index].split(" ")[0]; // Mostrar solo la primera palabra
        } else {
          el.textContent = originalTexts[index]; // Restaurar texto original si la pantalla es mayor a 700px
        }
      });
    }

    updateText();
    window.addEventListener("resize", updateText);
  }

  // Aplicar la función a ambas clases
  applyResponsiveText("teacherLastName");
  applyResponsiveText("teacherName");
  applyResponsiveText("teacherFullName");

</script>