{% extends 'base.html' %}

{% block title%} {% block subtitle %}{% endblock %} {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base_list.css' %}" />
<link rel="stylesheet" href="{% static 'css/base_select.css' %}">

{% endblock %}

{% block js %}
<script src="https://kit.fontawesome.com/158b099d34.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

<section class="item-section">
    <article class="item-title">
        {% block icon %}
        {% endblock %}
        <h2>{% block itemName %}{% endblock %}</h2>
    </article>
    <article class="item-message">
        {% block welcomeMessage %}

        {% endblock %}
    </article>

    <section class="manage-items">
        <article class="item-total">
            <p>Número items: <span class="number">{% block totalItem %} {% endblock %}</span></p>
        </article>
        <article class="item-actions">
            <button id="add-item-btn" class="add-item-btn"><i class="fa-solid fa-plus"></i> Nuevo
                {% block addItem %}
                {%endblock %}</button>
        </article>
    </section>


    <article class="item-cards">
        {% block cards %}

        {% endblock %}
    </article>
</section>


{% endblock %}