{% extends 'base.html' %}

{% block title%} {% block subtitle %}
{% endblock %}
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base_list.css' %}" />
{% endblock %}

{% block js %}
<script src="https://kit.fontawesome.com/158b099d34.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<section class="item-section">
    <article class="item-title">
        <i class="fa-solid fa-user"></i>
        <h2>{% block itemName %}{% endblock %}</h2>
    </article>
    <article class="item-total">
        <p>Número items: <span class="number">{% block totalItem %} {% endblock %}</span></p>
    </article>
    <article class="item-actions">
        <form class="form-item-filters">
            <select name="select-item" id="select-item">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <input type="search" placeholder="Buscar..." id="input-search">
            <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <button id="add-item-btn" class="add-item-btn"><i class="fa-solid fa-plus"></i> Nuevo {% block addItem %}
            {%endblock %}</button>
    </article>
    <article class="item-table">
        <table>
            <thead>
                <!-- <tr>
                            <th>ID</th>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Gestión</th>
                        </tr> -->
                {% block tableHeader %} {% endblock %}
            </thead>
            <tbody>
                {% block tableBody %} {% endblock %}
            </tbody>
        </table>
    </article>
</section>
<script defer>
    const btnAñadir = document.getElementById('add-item-btn');

    btnAñadir.addEventListener('click', () => {
        let currentUrl = window.location.href;
        let newUrl = currentUrl.replace('/list', '/add');
        window.location.href = newUrl;
    });

    const btnVer = document.querySelectorAll('.bottomSee');

    btnVer.forEach(btn => {
        btn.addEventListener('click', () => {
            let module_id = btn.getAttribute('data-module-id'); // Obtener el ID del módulo
            let currentUrl = window.location.href;

            if (currentUrl.endsWith('/')) {
                currentUrl = currentUrl.slice(0, -1);
            }

            let newUrl = currentUrl.includes('/list')
                ? currentUrl.replace('/list', '/edit/' + module_id)
                : currentUrl + '/edit/' + module_id;

            window.location.href = newUrl;
        });
    });



</script>
{% endblock %}