{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base_manage_item.css' %}" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="item-section">
    {% block header %}
    <article class="item-title">
        {% block icon %}{% endblock %}
        <h2>{{ type }} / <small>{% block identifier %}{% endblock %}</small></h2>
    </article>
    {% endblock %}

    <article class="item-actions">
        <div class="display-id">
            <span>ID</span>
            <input class="inputId" type="text" value="{% block inputValue %}{% endblock %}" disabled>
        </div>
        {% block buttons %}{% endblock %}
    </article>

    {% block form %}{% endblock %}
    {% block side %}{% endblock %}
</section>
{% endblock %}

{% block js %}
<script src="https://kit.fontawesome.com/158b099d34.js" crossorigin="anonymous"></script>
<script defer>
    document.addEventListener("DOMContentLoaded", () => {
        let cancelBtn = document.querySelector('.btn-cancel');

        formButtons.style.display = 'none';

        // Cancel button
        if (cancelBtn) {
            cancelBtn.addEventListener('click', () => {
                window.history.back();
            });
        }

    });

</script>
{% endblock %}