{% extends 'base.html' %}

{% block title%} {% block subtitle %}{% endblock %} {% endblock %}

{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/base_list.css' %}" />
<link rel="stylesheet" href="{% static 'css/base_select.css' %}">

{% endblock %}

{% block js %}
<script src="https://kit.fontawesome.com/158b099d34.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

<section class="item-section">
    <article class="item-title">
        {% block icon %}{% endblock %}
        <h2 style="font-weight: bold;">{% block itemName %}{% endblock %}</h2>
    </article>
    <article class="item-message">
        {% block welcomeMessage %}

        {% endblock %}
    </article>

    <article class="info-item">
    {% block total %}{% endblock %}

    {% block itemActions %}{% endblock %}
    </article>

    <article class="item-cards">
        {% block cards %}

        {% endblock %}
    </article>
</section>


{% endblock %}