<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nombre | {% block title %}{% endblock %}</title>

  {% load static %} {% block css %} {% endblock %}
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />

  <script src="https://kit.fontawesome.com/158b099d34.js" crossorigin="anonymous"></script>
  {% block js %} {% endblock %}
</head>

<body>
  <!-- Cabecera de la web -->
  <header id="header">
    <!-- Menú de navegación -->
    <nav class="navAll" id="navAll">
      <div id="navLogo">
      <a href="{% url 'homepage' %}">
     
          <img src="{% static 'images/logo.png' %}" alt="Logo IES San Clemente" id="logoSanClemente" />
          <hr style="width: 90%; border: 1px solid white" />
        
      </a>
    </div>
      <div class="hamburger">
        <div class="_layer -top"></div>
        <div class="_layer -mid"></div>
        <div class="_layer -bottom"></div>
    </div>

      <div class="navBottom" id="navBottom">
        <div id="navCentro">
          <div class="selected">
            <i class="fa-solid fa-user"></i>
            <a href="{% url 'student_list' %}"><span class="navItem">Alumnos</span></a>
          </div>
          <div>
            <i class="fa-solid fa-book"></i>
            <a href="{% url 'fp_list' %}"><span class="navItem">Ciclos formativos</span></a>
          </div>
          <div>
            <i class="fa-solid fa-graduation-cap"></i>
            <a href="{% url 'module_list' %}"><span class="navItem">Módulos</span></a>
          </div>
          <div>
            <i class="fa-regular fa-clock"></i>
            <a href="{% url 'select_schedule' %}"><span class="navItem">Horarios</span></a>
          </div>
        </div>

        <div id="navUser">
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn-logout">Cerrar sesión</a>
          <img src="{% static 'images/svg/logout_svgrepo.com.svg' %}" alt="Cerrar sesión" />
          {% else %}
          <span>
            <a href="{% url 'login' %}">Iniciar sesión</a></span>
          <img src="{% static 'images/svg/logout_svgrepo.com.svg' %}" alt="Iniciar sesión" />
          {% endif %}
        </div>
      </div>
    </nav>
    
  </header>

  <main id="main-content">{% block content %}{% endblock %}</main>
</body>

</html>

<script>
  var menu = document.querySelector('.hamburger');

  function toggleMenu(event) {
      menu.classList.toggle('is-active');
      document.querySelector(".navBottom").classList.toggle("is_active");
      document.querySelector(".navAll").classList.toggle("is_active");

      event.preventDefault();
  }

  menu.addEventListener('click', toggleMenu, false);
</script>