<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>

<body>
    <nav>
        <div id="navLogo">
            <img src="{% static 'images/logo.png' %}" alt="IES San Clemente" id="logoSanClemente">
            <hr style="width: 90%; border: 1px solid white; ">
        </div>

        <div id="navBottom">
            <div id="navCentro">
                <div>
                    <img src="{% static 'images/svg/person_svgrepo.com.svg' %}" alt="Alumnos">
                    <span>Alumnos</span>
                </div>
                <div>
                    <img src="{% static 'images/svg/book_svgrepo.com.svg' %}" alt="Ciclos formativos">
                    <span>Ciclos formativos</span>
                </div>
                <div>
                    <img src="{% static 'images/svg/books_svgrepo.com.svg' %}" alt="Módulos">
                    <span>Módulos</span>
                </div>
                <div>
                    <img src="{% static 'images/svg/time_svgrepo.com.svg' %}" alt="Horarios">
                    <span>Horarios</span>
                </div>
            </div>

            <div id="navExit">
                <span>Cerrar sesión</span>
                <img src="img/svg/logout_svgrepo.com.svg" alt="Cerrar sesión">
            </div>
        </div>
    </nav>
</body>

</html>


